<div mat-dialog-title style="min-width: 200px">
  <span class="dialog-header">
    {{ 'edit.game-name.header' | translate }}
  </span>
</div>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>{{ 'edit.game-name.label' | translate }}</mat-label>
    <input matInput #gameNameInput name="game" [formControl]="name" [autofocus]="true">
    <mat-error *ngIf="name.invalid">{{ 'edit.game-name.invalid' | translate }}</mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions style="display: flex; justify-content: space-between">
  <button mat-button color="primary" [mat-dialog-close]="undefined">
    {{ 'edit.cancel' | translate }}
  </button>
  <button mat-button color="primary" [mat-dialog-close]="name.value" [disabled]="name.invalid">
    {{ 'edit.confirm' | translate }}
  </button>
</div>
