@import '@angular/material/theming';

@mixin rank-icon-component-theme($theme) {
  app-rank-icon {
    //$primary: map-get($theme, primary);
    //$accent: map-get($theme, accent);
    //$warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    span {
      color: mat-color($foreground, text);
      text-shadow: 0 0 4px mat-color($background, background),
      0 0 3px mat-color($background, background),
      0 0 2px mat-color($background, background);
    }
  }
}
