@use '@angular/material' as mat;

@mixin rank-icon-component-theme($theme) {
  app-rank-icon {
    //$primary: map-get($theme, primary);
    //$accent: map-get($theme, accent);
    //$warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    span {
      color: mat.m2-get-color-from-palette($foreground, text);
      text-shadow: 0 0 4px mat.m2-get-color-from-palette($background, background),
      0 0 3px mat.m2-get-color-from-palette($background, background),
      0 0 2px mat.m2-get-color-from-palette($background, background);
    }
  }
}
