@use 'sass:map';
@use '@angular/material' as mat;
@use '../../theme-colors' as tc;

@mixin component-theme($light-or-dark) {
  app-game {
    @if $light-or-dark == light {
      @include game-component-theme(
          map.get(tc.$secondary-palette, 100),
          map.get(tc.$primary-palette, 50),
          map.get(tc.$primary-palette, 50),
          map.get(tc.$tertiary-palette, 50),
      );
    } @else {
      @include game-component-theme(
          map.get(tc.$neutral-palette, 10),
          map.get(tc.$primary-palette, 50),
          map.get(tc.$primary-palette, 50),
          map.get(tc.$tertiary-palette, 50),
      );
    }
  }
}

@mixin game-component-theme($bg-color, $border-color, $primary, $accent) {
  .score-box {
    background-color: $bg-color;
  }

  .player-column-wrapper:not(:last-child) {
    border-right: 1px solid rgba($border-color, 0.2);
  }

  .win-or-lose.win {
    background-color: rgba($primary, 0.6);
  }

  .total-cell {
    border-bottom: 1px solid $border-color;
  }

  .cell {
    border-bottom: 1px solid rgba($border-color, 0.2);

    &.small-scores .buttons mat-icon {
      &.plus {
        color: rgba($primary, 0.1);
      }

      &.minus {
        color: rgba($accent, 0.1);
      }
    }
  }
}
