@if (connectionError()) {
  <div class="connection-error tertiary-light-bg">
    <mat-icon style="margin-right: 5px">cloud_off</mat-icon>
    <span>{{ 'misc.connection-error' | translate }}</span>
  </div>
}

@if (game$ | async; as game) {
  <div class="wrapper">
    <div class="header">
      @if (game.gameId === 'offline') {
        <mat-icon inline>cloud_off</mat-icon>
      }
      <span (click)="editGameOpen()">{{ game.name.trim() || '...' }}</span>
    </div>
    <div class="score-box mat-elevation-z2">
      @for (player of players$ | async; track playerTrackByFn(player); let p = $index) {
        <div class="player-column-wrapper" style="flex: 1 1 auto">
          <div class="player-column" style="display: flex; flex-direction: column; align-items: center">
            <app-rank-icon [rank]="player.rank" [isLast]="player.last" class="rank"></app-rank-icon>
            <div class="player-name" (click)="editPlayerNameOpen(p)">{{ player.name.trim() || '.' }}</div>
            <div class="total-cell" style="width: 100%">
              <div class="total">{{ player.total }}</div>
            </div>
            @if (!game.gameType || game.gameType === 'free') {
              @for (score of player.scores; track i; let i = $index) {
                <div class="cell free">
                  <div class="add-score" (click)="editScoreOpen(p, i)">
                    {{ score ?? '/' }}
                  </div>
                  <div class="cum-score">
                    {{ player.scoresCumSum[i] || '/' }}
                  </div>
                </div>
              }
            }
            @if (game.gameType === 'smallScores') {
              @for (score of player.scores; track i; let i = $index) {
                <div class="cell small-scores" style="position: relative">
                  <div class="buttons" style="display: flex; justify-content: space-around; align-items: center">
                    <mat-icon (click)="editScore(p, i, (score || 0) - 1)" class="minus">remove_circle</mat-icon>
                    <mat-icon (click)="editScore(p, i, (score || 0) + 1)" class="plus">add_circle</mat-icon>
                  </div>
                  <span class="overlay-score" style="position: absolute">
                    {{ score ?? '/' }}
                  </span>
                </div>
              }
            }
            @if (game.gameType === 'winOrLose') {
              @for (score of player.scores; track i; let i = $index) {
                <div class="cell win-or-lose" [class.win]="!!score" (click)="editScore(p, i, score ? 0 : 1)"></div>
              }
            }
            @if (game.gameType === 'free') {
              <button mat-icon-button class="color-tertiary" aria-label="Add Score" (click)="addScore(p)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
              <button mat-icon-button class="color-tertiary" style="overflow: hidden" aria-label="Remove Score"
                      (click)="removeScore(p)">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
            }
          </div>
        </div>
      }
    </div>
    @if (game.gameType !== 'free') {
      <div class="actions-bottom">
        <button mat-button class="color-tertiary" (click)="removeScoreLine()">
          <mat-icon>remove_circle_outline</mat-icon>
          <span>{{ 'game.remove-row' | translate }}</span>
        </button>
        <button mat-button class="color-tertiary" (click)="addScoreLine()">
          <mat-icon>add_circle_outline</mat-icon>
          <span>{{ 'game.add-row' | translate }}</span>
        </button>
      </div>
    }
  </div>
}
