@import '~@angular/material/theming';

@mixin game-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  //$warn: map-get($theme, warn);
  //$foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-game {
    .score-box {
      background-color: mat-color($background, background);
    }

    .player-column-wrapper:not(:last-child) {
      border-right: 1px solid mat-color($primary, 300, 0.2);
    }

    .add-score {
      color: mat-color($accent, text);
    }

    .total-cell {
      border-bottom: 1px solid mat-color($primary, 300);
    }

    .cell {
      border-bottom: 1px solid mat-color($primary, 300, 0.2);
    }
  }
}
