@use '@angular/material' as mat;

@mixin game-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  //$warn: map-get($theme, warn);
  //$foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-game {
    .score-box {
      background-color: mat.get-color-from-palette($background, background);
    }

    .player-column-wrapper:not(:last-child) {
      border-right: 1px solid mat.get-color-from-palette($primary, 300, 0.2);
    }

    .win-or-lose.win {
      background-color: mat.get-color-from-palette($primary, 0.6);
    }

    .total-cell {
      border-bottom: 1px solid mat.get-color-from-palette($primary, 300);
    }

    .cell {
      border-bottom: 1px solid mat.get-color-from-palette($primary, 300, 0.2);

      &.free {
      }

      &.small-scores .buttons mat-icon {
        &.plus {
          color: mat.get-color-from-palette($primary, 0.1);
        }

        &.minus {
          color: mat.get-color-from-palette($accent, 0.1);
        }
      }

      &.win-or-lose {
        border-bottom: 1px solid mat.get-color-from-palette($primary, 100, 0.6);
      }
    }
  }
}

@mixin game-component-dark-theme($theme) {
  $primary: map-get($theme, primary);

  app-game {
    .cell {
      &.small-scores .buttons mat-icon.plus {
        color: mat.get-color-from-palette($primary, 400, 0.2);
      }

      &.win-or-lose {
        border-bottom: 1px solid mat.get-color-from-palette($primary, 300, 0.6);
      }
    }
  }
}
