.header {
  font-weight: bold;
  font-size: 1.4em;
  padding-bottom: 10px;

  span {
    margin-right: 10px;
    cursor: pointer;
  }
}

.actions {
  padding-bottom: 10px;
}

.wrapper {
  padding: 20px 0;
}

.rank {
  width: 32px;
  height: 32px;
}

.player-name {
  padding: 0 20px 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.total-cell {
  padding-bottom: 4px;
  margin-bottom: 5px;

  .total {
    text-align: center;
    font-weight: bold;
  }
}

.cell {
  padding: 0 20px;
  margin-bottom: 5px;
}

.add-score {
  font-size: 0.9em;
  margin-bottom: -5px;
  cursor: pointer;
}

.columns-wrapper {
  width: 100%;
  overflow-x: scroll;
  padding: 10px 0;
}

@media (screen and min-width: 600px) {
  .columns-wrapper {
    width: 600px;
    min-width: 600px;
    margin: auto;
  }
}
