<div mat-dialog-title style="min-width: 200px">
  <span class="dialog-header">{{ 'edit.header' | translate }}</span>
</div>

<div mat-dialog-content>
  <mat-form-field class="edit-score">
    <mat-label>{{ 'edit.edit-score' | translate }}</mat-label>
    <input matInput #scoreInput type="number" [formControl]="score">
  </mat-form-field>
  <button mat-icon-button color="primary" aria-label="Add Score" [mat-dialog-close]="null">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between">
  <button mat-button color="primary" [mat-dialog-close]="undefined">
    {{ 'edit.cancel' | translate }}
  </button>
  <button mat-button color="primary" [mat-dialog-close]="score.value" type="submit">
    {{ 'edit.confirm' | translate }}
  </button>
</div>
