<div mat-dialog-title style="min-width: 200px">
  <span class="dialog-header">
    {{ isNew ? ('edit.score.header-new' | translate) : ('edit.score.header' | translate) }}
  </span>
</div>

<div mat-dialog-content>
  <mat-form-field class="edit-score">
    <mat-label>{{ 'edit.score.label' | translate }}</mat-label>
    <input matInput #scoreInput type="number" autocomplete="off" name="score" [formControl]="score" [autofocus]="true">
  </mat-form-field>
  <button mat-icon-button color="primary" aria-label="Add Score" [mat-dialog-close]="null">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-actions style="display: flex; justify-content: space-between">
  <button mat-button color="primary" [mat-dialog-close]="undefined">
    {{ 'edit.cancel' | translate }}
  </button>
  <button mat-button color="primary" [mat-dialog-close]="score.value" type="submit">
    {{ 'edit.confirm' | translate }}
  </button>
</div>
