<div mat-dialog-title>
  <span class="dialog-header">
    {{ 'new-game.dialog.header' | translate }}
  </span>
</div>

<div mat-dialog-content>
  <div style="margin-bottom: 5px">
    <mat-form-field>
      <mat-label>{{ 'new-game.dialog.game-name.label' | translate }}</mat-label>
      <input matInput name="game" [formControl]="gameName" [autofocus]="true">
      @if (gameName.invalid) {
        <mat-error>{{ 'new-game.dialog.game-name.invalid' | translate }}</mat-error>
      }
    </mat-form-field>
  </div>

  <div style="margin-bottom: 20px">
    <mat-checkbox [formControl]="lowerScoreWins">
      {{ 'new-game.dialog.lower-score-wins' | translate }}
    </mat-checkbox>
  </div>

  <div>
    <mat-form-field>
      <mat-label>{{ 'new-game.dialog.game-type' | translate }}</mat-label>
      <mat-select [formControl]="gameType">
        <mat-option [value]="'free'">{{ 'nav.game-settings.free' | translate }}</mat-option>
        <mat-option [value]="'smallScores'">{{ 'nav.game-settings.small-scores' | translate }}</mat-option>
        <mat-option [value]="'winOrLose'">{{ 'nav.game-settings.win-or-lose' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  @if (data.recentPlayers.length > 0) {
    <div class="player-dnd-container">
      <h4>{{ 'new-game.dialog.players.selected' | translate }}</h4>
      <div cdkDropList
           #selectedPlayersElement="cdkDropList"
           class="player-dnd-list"
           [cdkDropListData]="selectedPlayers"
           [cdkDropListConnectedTo]="[otherPlayersElement]"
           (cdkDropListDropped)="drop($event)">
        @for (item of selectedPlayers; track item) {
          <div class="player-dnd-box" cdkDrag>
            <span style="flex-grow: 1">{{ item }}</span>
            <button mat-icon-button aria-label="Exclude player" (click)="excludePlayer(item)">
              <mat-icon>arrow_downward</mat-icon>
            </button>
            <mat-icon cdkDragHandle style="margin-left: 8px">drag_indicator</mat-icon>
          </div>
        }
      </div>
    </div>

    <form style="display: flex; margin-top: 12px">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ 'new-game.dialog.players.new' | translate }}</mat-label>
        <input matInput name="game" [formControl]="playerName">
        @if (playerName.invalid) {
          <mat-error>{{ 'new-game.dialog.players.invalid' | translate }}</mat-error>
        }
      </mat-form-field>
      <button mat-icon-button type="submit" aria-label="Add player" style="margin-top: 4px"
              [disabled]="playerName.invalid || !playerName.value"
              (click)="addPlayerName()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>

    <div class="player-dnd-container" style="margin-top: 24px">
      <h4>{{ 'new-game.dialog.players.others' | translate }}</h4>
      <div cdkDropList
           #otherPlayersElement="cdkDropList"
           class="player-dnd-list"
           [cdkDropListData]="otherPlayers"
           [cdkDropListConnectedTo]="[selectedPlayersElement]"
           (cdkDropListDropped)="drop($event)">
        @for (item of otherPlayers; track item) {
          <div class="player-dnd-box" cdkDrag>
            <span style="flex-grow: 1">{{ item }}</span>
            <button mat-icon-button class="color-warn" aria-label="Forget player" (click)="forgetPlayer(item)">
              <mat-icon>clear</mat-icon>
            </button>
            <mat-icon cdkDragHandle style="margin-left: 8px">drag_indicator</mat-icon>
          </div>
        }
      </div>
    </div>
  }
</div>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">
    {{ 'edit.cancel' | translate }}
  </button>
  <button mat-flat-button [mat-dialog-close]="exportGame()" [disabled]="gameName.invalid">
    {{ 'edit.confirm' | translate }}
  </button>
</div>
