<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport position="end"
               [attr.role]="navService.pinSideNav() ? 'navigation' : 'dialog'"
               [mode]="navService.pinSideNav() ? 'side' : 'over'"
               [opened]="navService.pinSideNav()"
               [autoFocus]="false"
               (click)="closeDrawer()">

    <mat-toolbar id="sidenav-toolbar">
      <span style="flex-grow: 1">{{ 'nav.menu-title' | translate }}</span>
      @if (navService.pinSideNav()) {
        <button mat-icon-button type="button" aria-label="Close sidenav" (click)="navService.setPinSideNav(false)">
          <mat-icon>menu</mat-icon>
        </button>
      }
    </mat-toolbar>
    <mat-nav-list>

      @if (gameSettingsService.gameSettings$ | async; as gameSettings) {
        <h3 matSubheader>{{ 'nav.game-settings.title' | translate }}</h3>
        <mat-list-item (click)="gameSettingsService.setLowerScoreWins(false)"
                       class="selectable even"
                       [class.selected]="!gameSettings.lowerScoreWins">
          <span class="crown-icon-bw"></span>
          <mat-icon>arrow_drop_up</mat-icon>
          <span>{{ 'nav.game-settings.max-wins' | translate }}</span>
        </mat-list-item>
        <mat-list-item (click)="gameSettingsService.setLowerScoreWins(true)"
                       class="selectable even"
                       [class.selected]="gameSettings.lowerScoreWins">
          <span class="crown-icon-bw"></span>
          <mat-icon>arrow_drop_down</mat-icon>
          <span>{{ 'nav.game-settings.min-wins' | translate }}</span>
        </mat-list-item>
        <div style="height: 10px"></div>
        <mat-list-item (click)="gameSettingsService.setGameType('free')"
                       class="selectable odd"
                       [class.selected]="gameSettings.gameType === 'free'">
          <mat-icon style="margin-right: 5px">leaderboard</mat-icon>
          <span>{{ 'nav.game-settings.free' | translate }}</span>
        </mat-list-item>
        <mat-list-item (click)="gameSettingsService.setGameType('smallScores')"
                       class="selectable odd"
                       [class.selected]="gameSettings.gameType === 'smallScores'">
          <mat-icon style="margin-right: 5px">exposure</mat-icon>
          <span>{{ 'nav.game-settings.small-scores' | translate }}</span>
        </mat-list-item>
        <mat-list-item (click)="gameSettingsService.setGameType('winOrLose')"
                       class="selectable odd"
                       [class.selected]="gameSettings.gameType === 'winOrLose'">
          <mat-icon style="margin-right: 5px">flaky</mat-icon>
          <span>{{ 'nav.game-settings.win-or-lose' | translate }}</span>
        </mat-list-item>
      }

      @if (navService.navTools().length > 0) {
        <h3 matSubheader>{{ 'nav.tools' | translate }}</h3>
        @for (tool of navService.navTools(); track tool.name) {
          <mat-list-item (click)="navService.navToolClicked(tool.name); closeDrawer()">
            <mat-icon style="margin-right: 5px">{{ tool.icon }}</mat-icon>
            <span>{{ tool.name | translate }}</span>
          </mat-list-item>
        }
      }

      <h3 matSubheader>{{ 'nav.settings' | translate }}</h3>

      <mat-list-item>
        <mat-slide-toggle [checked]="settingsService.darkMode()"
                          (change)="settingsService.setDarkMode($event.checked)">
          {{ 'misc.dark-mode' | translate }}
        </mat-slide-toggle>
      </mat-list-item>

      <mat-list-item>
        <app-change-language (langSet)="navService.setLanguage($event); closeDrawer()"></app-change-language>
      </mat-list-item>

      @if (navService.displayUpdatesAvailable()) {
        <mat-list-item (click)="navService.update()">
          <mat-icon class="color-warn" style="margin-right: 5px">update</mat-icon>
          <span>{{ 'nav.update-available' | translate }}</span>
        </mat-list-item>
      }

      @if (navService.displayUpdatesActivated()) {
        <mat-list-item>
          <mat-icon style="margin-right: 5px">sync</mat-icon>
          <span>{{ 'nav.update-activated' | translate }}</span>
        </mat-list-item>
      }

      <mat-list-item (click)="navService.checkForUpdates()">
        <span class="very-light-text">{{ 'misc.version' | translate }} {{ appVersion }}</span>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Toolbar on top -->
    <mat-toolbar>

      @if (navService.showBackButton()) {
        <button type="button" aria-label="Back button" mat-icon-button (click)="navService.backClicked()">
          <mat-icon aria-label="Back arrow icon">arrow_back</mat-icon>
        </button>
      }

      @if (settingsService.darkMode()) {
        <img routerLink="/" [src]="'assets/icons/crown-white-64.png'" alt="icon" class="main-icon hide-focus"/>
      } @else {
        <img routerLink="/" [src]="'assets/icons/crown-black-64.png'" alt="icon" class="main-icon hide-focus"/>
      }
      <span routerLink="/" class="main-title hide-focus">
        {{ navService.mainTitle() ? (navService.mainTitle() | translate) : ('app-name' | translate) }}
      </span>

      @for (buttonId of navService.navButtons(); track buttonId) {
        <button type="button" mat-icon-button
                [attr.aria-label]="'Button' + buttonId"
                (click)="navService.navButtonClicked(buttonId)">
          <mat-icon>{{ buttonId }}</mat-icon>
        </button>
      }

      @if (!navService.pinSideNav()) {
        <button mat-icon-button type="button" aria-label="Open sidenav" (click)="openDrawer()">
          <mat-icon aria-label="Side nav toggle icon"
                    aria-hidden="false"
                    [matBadge]="navService.notificationBadge()"
                    matBadgeColor="warn">
            menu
          </mat-icon>
        </button>
      }

    </mat-toolbar>

    <!-- Main application area -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
