@use '@angular/material' as mat;

@mixin sidenav-content-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  //$warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-sidenav-content {
    color: mat.get-color-from-palette($foreground, text);
    background-color: mat.get-color-from-palette($background, app-bar);
  }

  .mat-mdc-list-item.selectable {
    background-color: mat.get-color-from-palette($accent, 0.04);

    &.selected {
      background-color: mat.get-color-from-palette($accent, 0.15);
    }

    &:hover {
      background-color: mat.get-color-from-palette($accent, 0.25);
    }
  }

  .mat-mdc-list-item.selectable.odd {
    background-color: mat.get-color-from-palette($primary, 0.04);

    &.selected {
      background-color: mat.get-color-from-palette($primary, 0.15);
    }

    &:hover {
      background-color: mat.get-color-from-palette($primary, 0.25);
    }
  }
}

@mixin sidenav-content-component-dark-theme($theme) {
  $primary: map-get($theme, primary);

  .mat-mdc-list-item.selectable.odd {
    background-color: mat.get-color-from-palette($primary, 300, 0.06);

    &.selected {
      background-color: mat.get-color-from-palette($primary, 300, 0.3);
    }

    &:hover {
      background-color: mat.get-color-from-palette($primary, 300, 0.4);
    }
  }
}
