mat-nav-list {
  padding: 0 8px;

  .mdc-list-item {
    padding-left: 8px;
    padding-right: 8px;
  }

  .mdc-list-group__subheader {
    margin: 1rem 8px 0.2rem;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

.main-title {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

app-icon-crown.main-icon {
  cursor: pointer;
  margin: 0 8px 6px;
}

mat-toolbar > button:first-child {
  margin: 0 6px;
}

mat-toolbar.slim > app-icon-crown.main-icon {
  margin: 0 11px 4px;
}

@media (max-width: 340px) {
  .main-title {
    font-size: 16px;
  }
}

.mat-mdc-list-item {
  &.selectable {
    border-radius: 0;
    $corner-border-radius: 24px;

    &:nth-child(1 of .even), &:nth-child(1 of .odd) {
      border-top-right-radius: $corner-border-radius;
      border-top-left-radius: $corner-border-radius;
    }

    &:nth-last-child(1 of .even), &:nth-last-child(1 of .odd) {
      border-bottom-right-radius: $corner-border-radius;
      border-bottom-left-radius: $corner-border-radius;
    }
  }
}
