mat-sidenav-container {
  height: 100%;
  min-height: 100vh;
}

mat-nav-list {
  padding-left: 8px;
  padding-right: 8px;

  .mdc-list-item {
    padding-left: 8px;
    padding-right: 8px;
  }

  .mdc-list-group__subheader {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

.main-title {
  flex-grow: 1;
  overflow: auto;
  cursor: pointer;
}

img.main-icon {
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 0 8px 6px;
}

@media (max-width: 340px) {
  .main-title {
    font-size: 16px;
  }
}

.mat-mdc-list-item {
  mat-icon {
    vertical-align: sub;
  }

  &.selectable {
    border-radius: 0;
    $corner-border-radius: 24px;

    &:nth-child(1 of .even), &:nth-child(1 of .odd) {
      border-top-right-radius: $corner-border-radius;
      border-top-left-radius: $corner-border-radius;
    }

    &:nth-last-child(1 of .even), &:nth-last-child(1 of .odd) {
      border-bottom-right-radius: $corner-border-radius;
      border-bottom-left-radius: $corner-border-radius;
    }
  }
}

.crown-icon-bw {
  display: inline-block;
  background-image: url('/assets/icons/crown-black-64.png');
  background-size: contain;
  height: 24px;
  width: 24px;
  margin-right: -4px;
  vertical-align: sub;
}

:host-context(html[dark-theme=true]) {
  .crown-icon-bw {
    background-image: url('/assets/icons/crown-white-64.png');
  }
}

@media (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 4px;
  }
}

@media (min-width: 599px) and (max-height: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 48px;
  }

  img.main-icon {
    padding: 0 8px 4px;
    height: 32px;
    width: 32px;
  }
}
