@use 'sass:map';
@use '@angular/material' as mat;
@use '../theme-colors' as tc;

@mixin component-theme($light-or-dark) {
  app-root {
    .mat-mdc-list-item.selectable {
      background-color: rgba(map.get(tc.$tertiary-palette, 50), 0.06);

      &.selected {
        background-color: rgba(map.get(tc.$tertiary-palette, 50), 0.35);
      }

      &:hover {
        background-color: rgba(map.get(tc.$tertiary-palette, 50), 0.45);
      }
    }

    .mat-mdc-list-item.selectable.odd {
      background-color: rgba(map.get(tc.$primary-palette, 50), 0.06);

      &.selected {
        background-color: rgba(map.get(tc.$primary-palette, 50), 0.4);
      }

      &:hover {
        background-color: rgba(map.get(tc.$primary-palette, 50), 0.5);
      }
    }
  }
}
