@keyframes blinker {
  50% {
    opacity: 0
  }
}

.record-indicator {
  color: red;
  animation: blinker 1.5s infinite;
  display: inline-flex;
  align-items: center;

  span {
    font-size: 16px;
  }
}

.hidden {
  display: none;
}
