<div style="padding: 20px; text-align: center">

  <div *ngIf="gameId$ | async as gameId">
    <button mat-raised-button color="primary" (click)="shareSound(gameId)">
      <mat-icon style="vertical-align: middle; margin-right: 10px">volume_up</mat-icon>
      {{ 'sound-sharing.share' | translate }} {{ gameId }}
    </button>
  </div>

  <div *ngIf="gamePayload$ | async as gamePayload">
    <span class="binary-payload">{{ gamePayload }}</span>
  </div>

  <div style="margin: 20px 0">
    <button mat-raised-button color="primary" (click)="analyse()">
      <mat-icon style="vertical-align: middle; margin-right: 10px">mic</mat-icon>
      {{ 'sound-sharing.listen' | translate }}
    </button>
  </div>

  <div *ngIf="soundSharing.dataArray" class="frequency-bars">
    <div *ngFor="let i of analyseRange"
         style="height: 1px; width: 6px; background-color: #3b1ea2"
         [ngStyle]="{
           transform: 'scaleX(' + soundSharing.dataArray[i] * 100 / 256 + ')',
           backgroundColor: i === soundSharing.FFT_INDEX_0 || i === soundSharing.FFT_INDEX_1 ? '#a21e6d' : '#3b1ea2'
         }"
    ></div>
  </div>

  <div *ngIf="soundSharing.receivedPayload$ | async as payload" class="binary-payload">
    <span>{{ payload }}</span>
  </div>

  <div *ngIf="soundSharing.receivedCode$ | async as code" style="margin-bottom: 20px">
    <button mat-button color="primary" [routerLink]="'/game/' + code">
      <mat-icon style="vertical-align: middle; margin-right: 10px">open_in_new</mat-icon>
      {{ code }}
    </button>
  </div>

  <div style="margin: 20px 0">
    <button mat-raised-button color="accent" (click)="stopAnalysing()">
      <mat-icon style="vertical-align: middle; margin-right: 10px">highlight_off</mat-icon>
      Stop
    </button>
  </div>

  <div *ngIf="(gameId$ | async) === ''" style="margin-bottom: 20px">
    <button mat-button color="primary" (click)="shareSound('aym3ric5')">
      <mat-icon style="vertical-align: middle; margin-right: 10px">volume_up</mat-icon>
      {{ 'sound-sharing.share-test' | translate }}
    </button>
  </div>

  <div style="margin-bottom: 20px">
    <button mat-button color="accent" routerLink="debug">
      {{ 'sound-sharing.goto-debug' | translate }}
    </button>
  </div>

  <p *ngIf="!recordService.error && recordService.status === 'awaitingAuthorization'">
    {{ 'sound-sharing.record.authorize' | translate }}
  </p>
  <p *ngIf="recordService.status === 'error'">
    {{ 'sound-sharing.record.error' | translate }}
  </p>
  <p *ngIf="recordService.error === 'NotSupportedError'">
    {{ 'sound-sharing.record.not-supported' | translate }}
  </p>
  <p *ngIf="recordService.error === 'NotFoundError'">
    {{ 'sound-sharing.record.not-found' | translate }}
  </p>
  <p *ngIf="recordService.error === 'NotAllowedError'">
    {{ 'sound-sharing.record.not-allowed' | translate }}
  </p>

</div>
