<div style="padding: 30px 24px 0 24px; text-align: center; box-sizing: border-box">
  <span style="margin: 0 10px">{{ 'wheel.players' | translate:{nb: nb$ | async} }}</span>

  <mat-slider
    style="width: 100%; max-width: 400px; margin: 0"
    class="number-slider"
    color="accent"
    [max]="10"
    [min]="2"
    [step]="1"
    showTickMarks
    discrete
  >
    <input matSliderThumb [value]="setSliderValue$ | async" (valueChange)="onNumberSliderChange($event)"/>
  </mat-slider>
</div>

<div style="width: 100%; max-width: 400px; margin: auto">
  <app-wheel
    [names]="(names$ | async) || []"
    [nb]="(nb$ | async) || 0"
    [dark]="!!(settings.darkMode$ | async)"
    [reset]="resetIndex"
  ></app-wheel>
</div>

<div style="padding: 0 20px; text-align: center">
  <button mat-button color="primary" (click)="resetIndex = resetIndex + 1">
    {{ 'wheel.reset' | translate }}
  </button>
</div>
