@use '@angular/material' as mat;
@use 'theme-colors' as tc;
@use 'theming';
@use 'fonts';

$main-font: "Roboto";
$main-fonts: $main-font, "Helvetica Neue", sans-serif;

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: tc.$primary-palette,
      tertiary: tc.$tertiary-palette,
    ),
    typography: $main-font,
  ));

  &:not([dark-theme=true]) {
    @include theming.theme-overrides(light);
  }

  &[dark-theme=true] {
    color-scheme: dark;
    @include theming.theme-overrides(dark);
  }

  .mat-drawer-content {
    display: flex;
    flex-direction: column;

    > mat-toolbar {
      flex-shrink: 0;
    }

    > router-outlet + * {
      height: calc(100vh - var(--mat-toolbar-standard-height));
      box-sizing: border-box;
      overflow: hidden auto;
    }
  }

  &[sidenav=pinned] {
    .mat-drawer-content > router-outlet + * {
      border-top-right-radius: 24px;
    }
  }

  .mat-badge-content,
  .mat-mdc-menu-content,
  .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
    font-family: $main-fonts;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $main-fonts;
}

.hide-focus:focus {
  outline: 0 solid transparent;
}

.very-light-text {
  font-size: 14px;
  opacity: 0.2;
}

.mdc-button.label-align-center > span.mdc-button__label {
  display: flex;
  align-items: center;
}

.mat-mdc-list-item-unscoped-content {
  & > mat-icon, & > app-icon-crown {
    vertical-align: middle;

    & + span {
      vertical-align: middle;
      margin-left: 8px;
    }
  }
}

:root {
  --mat-toolbar-standard-height: 64px;

  @include mat.sidenav-overrides((
    container-width: 220px,
  ));
}

@media (max-width: 599px) {
  :root {
    --mat-toolbar-standard-height: 56px;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 12px;
  }
}

@media (min-width: 600px) and (max-height: 599px) {
  :root {
    --mat-toolbar-standard-height: 48px;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 48px;
  }
}
