@import '~@angular/material/theming';
@import '_fonts.scss';

@include mat-core();

@import './custom-component-themes.scss';

$mat-myrtille: (
  50: #e9e5f6,
  100: #c9bfe8,
  200: #a594d9,
  300: #8169c9,
  400: #6648be,
  500: #4b28b2,
  600: #4424ab,
  700: #3b1ea2,
  800: #331899,
  900: #230f8a,
  A100: #c4bbff,
  A200: #9888ff,
  A400: #6c55ff,
  A700: #563bff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$mat-raspberry: (
  50 : #fae3ec,
  100 : #f3b8ce,
  200 : #eb89ae,
  300 : #e2598e,
  400 : #dc3675,
  500 : #d6125d,
  600 : #d11055,
  700 : #cc0d4b,
  800 : #c60a41,
  900 : #bc0530,
  A100 : #f090b8,
  A200 : #e64585,
  A400 : #d4205f,
  A700 : #ff0055,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  ),
);

$light-primary: mat-palette($mat-myrtille);
$light-accent: mat-palette($mat-raspberry, A200, A100, A400);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

@include angular-material-theme($light-theme);
@include custom-components-theme($light-theme);

// Defines an alternate dark theme.
$mat-myrtille-dark: (
  50 : #e6e3ec,
  100 : #bfbad0,
  200 : #958cb1,
  300 : #6b5e92,
  400 : #4b3c7a,
  500 : #2b1963,
  600 : #26165b,
  700 : #201251,
  800 : #1a0e47,
  900 : #100835,
  A100 : #836eff,
  A200 : #573bff,
  A400 : #2b08ff,
  A700 : #2100ee,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $light-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $light-primary-text,
    A400 : $light-primary-text,
    A700 : $light-primary-text,
  ),
);

$mat-raspberry-dark: (
  50 : #eae2e5,
  100 : #cbb7bf,
  200 : #a98794,
  300 : #875669,
  400 : #6d3249,
  500 : #530e29,
  600 : #4c0c24,
  700 : #420a1f,
  800 : #390819,
  900 : #29040f,
  A100 : #ff6386,
  A200 : #ff305e,
  A400 : #fc0038,
  A700 : #e30032,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $light-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $light-primary-text,
    A400 : $light-primary-text,
    A700 : $light-primary-text,
  ),
);

$dark-primary: mat-palette($mat-myrtille-dark);
$dark-accent: mat-palette($mat-raspberry-dark, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.myrtille-dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);
}

// CSS
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.very-light-text {
  color: #cccccc;

  .myrtille-dark-theme & {
    color: #666666;
  }
}

.mat-button.mat-primary {

  .myrtille-dark-theme & {
    color: mat-color($light-primary, 100);
  }
}

.crown-icon-bw {
  &.icon-64 {
    background: url('assets/icons/crown-black-64.png');
    background-size: contain;
    height: 32px;
    width: 32px;
  }

  .myrtille-dark-theme & {
    &.icon-64 {
      background: url('assets/icons/crown-white-64.png');
      background-size: contain;
      height: 32px;
      width: 32px;
    }
  }
}

.hide-focus:focus {
  outline: 0 solid transparent;
}

.edit-score div.mat-form-field-infix {
    width: 140px;
}
