<p style="margin: 0 0 24px">{{ 'home.welcome' | translate }}</p>

<button mat-raised-button color="primary" routerLink="../game/offline">
  {{ 'home.offline' | translate }}
</button>
<br>
<button mat-raised-button color="primary" (click)="newGameOpen()" style="margin-top: 16px">
  {{ 'home.new-game' | translate }}
</button>

<form style="display: flex; justify-content: center; margin-top: 16px">
  <div style="width: 24px"></div>
  <mat-form-field style="width: 150px; margin: 0 12px">
    <mat-label>{{ 'home.form.label' | translate }}</mat-label>
    <input matInput
           type="text"
           autocomplete="off"
           maxlength="8"
           [formControl]="gameFormControl"
           [errorStateMatcher]="matcher"
           [placeholder]="'home.form.placeholder' | translate">
    <mat-error *ngIf="gameFormControl.errors?.gameNotFound">
      {{ 'home.form.game-not-found' | translate }}
    </mat-error>
  </mat-form-field>
  <div style="width: 24px">
    <mat-spinner *ngIf="gameCheckPending$ | async" diameter="24" style="margin-top: 18px"></mat-spinner>
  </div>
</form>

<button mat-button color="primary" [routerLink]="'sound-share'">
  <mat-icon>mic</mat-icon>
  {{ 'home.sound-share' | translate }}
</button>

<ng-container *ngIf="visitedGames$ | async as visitedGames">
  <ng-container *ngIf="(visitedGames || []).length > 0">
    <h3 style="margin-top: 48px">{{ 'home.visited-games.title' | translate }}</h3>
    <div *ngFor="let game of visitedGames">
      <button mat-button [color]="deletion ? 'warn' : 'primary'" (click)="visitedGameClicked(game.gameId)">
        {{ game.gameId }} - {{ game.name.length > 25 ? game.name.substr(0, 24) + '...' : game.name }}
      </button>
    </div>
    <button mat-button color="primary" (click)="toggleDeletion()" [style.opacity]="deletion ? 1 : 0.4">
      <ng-container *ngIf="deletion; else notDeletion">{{ 'home.visited-games.delete-stop' | translate }}</ng-container>
      <ng-template #notDeletion>{{ 'home.visited-games.delete' | translate }}</ng-template>
    </button>
  </ng-container>
</ng-container>
